body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgray;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.filter-container {
  background-color: white;
  width: 18%;
  float: left;
  margin: 0 10px;
  margin: 10px 0 10px 10px;
  text-align: center;
}

.missile-container {
  /* background-color: white; */
  width: 80%;
  float: left;
}

hr {
  width: 80%;
  margin-top: 0px;
}

.year-filter {
  margin-left: 25px;
  margin-right: auto;
  color: lightgreen;
  float: left;
}

button {
  border: 1px solid transparent;
  line-height: 1;
  border-radius: 0.25rem;
  background-color: lightgreen;
  border-color: lightgreen;
  padding: 5px;
  margin: 2px 25px;
}

button:hover {
  background-color: rgb(0, 205, 50);
}

.mission_name {
  color: darkblue;
  font-weight: bold;
  font-size: large;
}

.mission_id {
  color: black;
  font-weight: bold;
  font-size: large;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  overflow: auto;
}

img {
  width: 100px;
  height: 100px;
}

.flex-item {
  text-align: center;
  padding: 1%;
  background: white;
  margin: 10px;
  width: 20%;
}

@media screen and (max-width: 600px) {
  .filter-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-left: 10%;
      background-color: white;
  }
  .filter-container+div {
      padding: 10px;
  }
}

footer {
  display: block;
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}